/*commom classes start*/
.wk_mp_design {
    width: 100%;
}
.wk_mp_design .block-account .block-title {
    background-image: none!important;
}
.wk_mp_design .block{
    margin: 0;
}
.wk_mp_design .product-image img{
    width: 100%;
}
.unavailable, .available {
    background-color: rgba(0, 0, 0, 0);
    background-position: 10px 0 !important;
    border: medium none !important;
    float: left;
    min-height: 11px !important;
    padding: 0 3px 0 30px !important;
    text-transform: capitalize;
}
.btn_primary {
    background-color: #0C79D8;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    display: inline-block;
    opacity: 0.8;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    text-transform: uppercase;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 13px;
    width: 100%;
}
.wk_profile_links{
    display: inline-block;
    padding: 10px 0;
    width: 30%;
}
.wk_profile_links a:hover{
    text-decoration: none;
}
.wk_mp_fieldset{
    margin: 0;
    padding: 15px;
    border-top: none;
}
.wk_mp_design .form-list .input-box {width: 100%;}
.wk_mp_design .form-list .field { width:100%; }
.wk_mp_design .form-list input.input-text { width:99%; }
.wk_mp_design .form-list textarea { width:99%;max-width: 99%;}
.wk_mp_design .form-list select { width:100%; }
.wk_mp_design .form-list li.wide .input-box { width:100%; }
.wk_mp_design .form-list li.wide input.input-text { width:99%; }
.wk_mp_design .form-list li.wide textarea { width:100%; }
.wk_mp_design .form-list li.wide select { width:100%; }
.wk_mp_design .form-list .input-range input.input-text { width:99%; }
.wk_mp_design .form-list-narrow li.wide .input-box { width:100%; }
.wk_mp_design .form-list-narrow li.wide input.input-text,
.wk_mp_design .form-list-narrow li.wide textarea { width:99% }
.wk_mp_design .form-list-narrow li.wide select { width:100%; }

#wantptr{display:none;}
.profileurl{
display: inline-block;
width: 100%;
}
/*commom classes end*/
/*.profileurl .input-box {float: left;}*/
.unavailable,.available {    
    background-color: transparent;
    background-position: 7px 2px !important;
    border: medium none !important;
    float: left;
    margin-left: 10px;
    padding: 0 30px !important;
    text-transform: capitalize;
}
#wk_load_conf {
    left: 12%;
    top: 509px;
    position: absolute;
    display: none;
} 
#skuavail, #skunotavail { 
    display: none;
    float:left;
    width: 100%; 
}
.skuavailable{
    background-color: rgba(0, 0, 0, 0);
    background-position: 10px 0 !important;
    border: medium none !important;
    float: left;
    min-height: 11px !important;
    padding: 0 3px 0 30px !important;
    text-transform: capitalize;
    background-size: contain!important;
}
.skunotavailable{
    background-color: rgba(0, 0, 0, 0);
    background-position: 10px 0 !important;
    border: medium none !important;
    float: left;
    min-height: 11px !important;
    padding: 0 3px 0 30px !important;
    text-transform: capitalize;
    background-size: contain!important;
}
/*landing page css start*/
.wk_mp_landingpage{
    text-align: center;
}
.wk_mp_banner {
background-size: 100% 100%;
}
.wk_mp_banner_container{
    width: 97.5%;
    border: 1px solid #eee;
    padding: 10px;
}
.wk_mp_banner img{
    width: 100%;
}
.wk_marketplace_label{    
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 3.3%;
}
.wk_marketplace_label_span{
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3em;
    width: 100%;
}
.wk_marketplace_label_about{
    font-weight: 600;
    letter-spacing: 1px;
}
.wk_mp_icon {
    display: inline-block;
    width: 68%;
}
.wk_mp_icon img{
    display: inline-block;
    width: 100%;
}
.wk_mp_icon_wraper{
    display: inline-block;
    width: 22%;
}

.wk_mp_landing_sellers_wraper{
    width: 284px;
    display: inline-block;
    border: 1px solid #eee;
    margin-right: 10px;
    margin-bottom: 10px;
}
.wk_last_seller{
    margin-right: 0!important;
}
.wk_mp_landing_sellers{
    padding: 10px;
}
.wk_mp_landing_sellers_img1{
    width: 100%;
}
.wk_mp_landing_sellers_img1 img{
    width: 130px;
    display: inline-block;
    border: 1px solid #eee;
    float: left;
}
.wk_mp_landing_sellers_img2{
    width: 260px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    display: inline-block;
}
.wk_mp_landing_sellers_img2 img{
    width: 100%;
}
.wk_mp_landing_sellers_logo{
    width: 30%;
    float: left;
    display: inline-block;
    border: 1px solid #eee;
    height: 75px;
    position: relative;
}
.wk_mp_landing_sellers_logo img{
    width: 100%;
}
.wk_mp_landing_sellers_details{
    width: 64%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    text-transform: uppercase;
}
.wk_mp_landing_button{
    font-size: 18px!important;
    padding: 15px 20px!important;
}
.wk_mp_label3_container{
    margin-top:10px;width:100%;
}
.wk_mp_label3{
    border: 1px solid #eee;
    padding: 10px;
}
.wk_mp_header {
    color: #FFFFFF;
    padding: 6.5%;
    text-align: center;
}
.wk_mp_header h1 {
    font-size: 3.9em;
    color: #FFFFFF;
    margin-bottom: 0.3em;
    font-weight: bold;
    word-wrap: break-word;
}
.wk_mp_header h2 {
    font-size: 32px;
    color: #FFFFFF;
    text-transform: inherit!important;
}
.wk_mp_header p { 
    margin-bottom: 0; 
}
/*end*/

/*product page seller block start*/
.wk_blockdetail {background: none repeat scroll 0 0 #F4F3F3;height: auto;padding: 4px;}
.wk_blockdetail ul.partnerlinks li a{text-decoration:none;}
.wk_blockdetail ul.partnerlinks li a:hover{text-decoration: underline;color: #333;}
.wk_blockdetail ul.partnerlinks li {padding:2px 0px;font-size:12px;}
.wk_blockdetail #twconnect, #fbconnect{display: inline-block;height: 35px;width: 35px;}
.wk_blockdetail #twconnect:hover, #fbconnect:hover{box-shadow: -3px -2px 6px #333333;}
.wk_blockdetail #twconnect{background-image:url('http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/tw.png');}
.wk_blockdetail #fbconnect{background-image:url('http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/fb.png');}
.wk-block-hover-div{
	background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    right: -27%;
    min-height: 120px;
    position: absolute;
    top: -35px;
    width: 420px;
    z-index: 999;
    border: 1px solid #BCE8F1;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.wk-block-hover-div img{
	width: 100%;
}
@media only screen and (max-width: 1085px) {
	.wk-block-hover-div{
	    right: -11px!important;
	    width: 275px!important;
	}
}
@media only screen and (min-width: 1085px) and (max-width: 1191px) {
	.wk-block-hover-div{
	    right: -61px!important;
	    width: 275px!important;
	}
}
@media only screen and (min-width: 770px) and (max-width: 984px) {
	.profile-view {
	width: 325px!important;
	}
}
.wk-block-hover-div .arrow{height: 23px;position: absolute;right: -17px;top: 31px;width: 50px;}
.wk-block-hover-div:after, .wk-block-hover-div:before {
    border: 1px solid transparent;
    content: " ";
    height: 0;
    right: 100%;
    position: absolute;
    width: 0;
}
.wk-block-hover-div:after {border-right-color: #FFFFFF;border-width: 7px;top: 36px;}
.wk-block-hover-div:before {border-right-color: #BCE8F1;border-width: 10px;top: 34px;}
.profile-view{
	position: relative;
	width: 436px;
}
/*wk-block new css start*/
.ask_que , #askque{
    display: inline-block;
}
.wk_block_font_bold_up{
	text-transform: uppercase;
	font-weight: bold;
}
.wk_block_title_css{
	font-weight: normal;
	margin: 0 5px 0 0;
}
.wk_block_title_css a{    
    text-decoration: underline;
}
.wk_block_rating{
	display: inline-block;
	text-align: center; 
	background: #11b400;
	color: #fff; 
	letter-spacing: 1px;
	min-width: 16px; 
	padding: 2px 6px; 
	border-radius: 4px;
}
.product-options-bottom{
	padding: 9px!important;
}
.extra-info{
	max-width: 100%!important;
	width: 100%!important;
}
.add-to-cart, .out-of-stock{
	float: left!important;
}
.wk_seller_block{
    border-left: 1px solid #ccc;
	display: inline-block; 
	width: 30%;
	position: relative;
	padding-left: 10px;
	margin-left: 8px;
}
.wk_seller_block:after, .wk_seller_block:before {
    border: 1px solid transparent;
    content: " ";
    height: 0;
    left: -1px;
    position: absolute;
    width: 0;
    margin-top: -11px;
}
.wk_seller_block:after {
	border-left-color: #FFFFFF;border-width: 7px;top: 36px;
}
.wk_seller_block:before {
	border-left-color: #CCCCCC;border-width: 9px;top: 34px;
}
@media only screen and (min-width: 1180px){
	.wk_seller_block{
		width: 44%!important;
	}
}

.wk_seller_rating{
	padding: 15px;
	border-radius: 3px;
	border: 1px solid #ccc;
	background: #fffeeb;
	box-shadow: 0 2px 8px 2px #848484;
	font-size: 11px;
	position: absolute;
	text-align: left;
	max-width: 350px;
	z-index: 1;
	display: none;
	top: 67%;
	margin-left: -20%;
	width: 120%;
}
.wk_seller_rating:after, .wk_seller_rating:before {
    border: 1px solid transparent;
    content: " ";
    height: 0;
    bottom: -1px;
    position: absolute;
    width: 0;
    margin-top: -51px;
    margin-left: 22%;
}
.wk_seller_rating:after {
	border-bottom-color: #FFFFFF;border-width: 7px;
	top: 38px;
	margin-right: 22px;
}
.wk_seller_rating:before {
	border-bottom-color: #CCCCCC;border-width: 9px;
	border-width: 7px;
	top: 37px;
}
/*end*/
/*.profile-view:hover .wk-block-hover-div,.wk-block-hover-div .arrow:hover{display:block;}*/
/*end*/

/*seller list page start*/
.wk_srach_wrapper{
	width:100%;
	display:inline-block;
}
.wk_search input {
	width: 100%!important;
	height: 40px!important;
	padding-right: 40px!important;
	font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
}
.wk_search .input-box {
	position: relative;
}
.wk_search .button {
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	border: 0;
}
.wk_search .span{
	padding: 9px 8px!important;
}
.wk_search button.button span span {
	height: 20px!important;
	line-height: 20px!important;
}
.wk_mp_sellerlist_container li{	
	padding-left: 0;
	padding-bottom: 1%;
}
.wk_mp_sellerlist_container .wk_mp_sellerlist_wrap {
	border: 1px solid #eee;
	display: inline-block;			
	padding: 5px;			
}
.wk_sellerlist_divide1 {
	display: inline-block;
	width: 40%;
	float: left;
	overflow: hidden;
}
.wk_sellerlist_divide1 img {
	width: 85%;
	float: left;
	border: 1px solid #eee;
}
.wk_sellerlist_divide2 {
	text-align: left;
	text-transform: uppercase;
	width: 60%;
	float: left;
}
@media only screen and (min-width: 480px) and (max-width: 480px) {
	.wk_mp_sellerlist_container .wk_mp_sellerlist_wrap {
		width: 100%;
	}
	.wk_mp_sellerlist_container li{
		padding-right: 0;
		float: none;
	}
	.wk_sellerlist_divide1 {
		height: auto;
	}
}
@media only screen and (min-width: 481px) and (max-width: 651px) {
	.wk_mp_sellerlist_container .wk_mp_sellerlist_wrap {
		width: 100%;
	}
	.wk_mp_sellerlist_container li{
		padding-right: 15px;		
		float: left;
		width: 50%;
	}
	.wk_sellerlist_divide1 {
		height: auto;
	}
    .wk_mp_header h1 {
        font-size: 2.9em!important;
    }
}
@media only screen and (min-width: 652px) and (max-width: 1079px) {
	.wk_mp_sellerlist_container .wk_mp_sellerlist_wrap {
		width: 100%;
	}
	.wk_mp_sellerlist_container li{
		padding-right: 15px;		
		float: left;
		width: 30%;
	}
	.wk_sellerlist_divide1 {
		height: 95px;
	}
}
@media only screen and (min-width: 1080px){
	.wk_mp_sellerlist_container li{
		margin-right: 1%;
		float: left;
		width: 24%;
	}
	.wk_sellerlist_divide1 {
		height: 95px;
	}
}
/*end*/
/*seller prfile page left css start*/
.wk_logo_block{
    padding-bottom: 10px;
}
.bannerpicrs {
    border-bottom: 5px solid #fc9d36;
    height: 100%;
    width: 99%;
}
.wk_mp_design_inner{
    border: 1px solid #eee;
    padding: 10px;
    padding-bottom:0;
}
.wk_mp_design_inner_last{
    margin-bottom:10px;
    padding-bottom: 10px;
}
.storename {
    font: bold 1em Helvetica Neue,Arial,Sans Serif;
    text-transform:uppercase;
}
.store-name{
    padding: 5px 0;
}
.wk_seller a {
    display: inline-block;
}
#info .section {
    padding: 0px 5px 5px 5px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
}
.wk_icon{
    background-image: url("http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/Seller-Sprite.png");
    background-repeat: no-repeat;
    background-color: transparent;
    height: 18px;
    width: 17px;
    float: left;
    margin-top: 3px;
}
.wk_storeloc_icon{
    background-position: -105px -96px;
    height: 17px;
}
a.cont-name {
    display: inline-block;
    padding-right: 5px;
    font-size: 15px;
    color: inherit;
    font-weight: normal;
}
.piccountry {
    width: 24px;
    display: inline-block;
}
.wk_contact_input_fields {
    width: 100%!important;
    max-width: 100%!important;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.wk_mp_design_inner small {
    font-size: smaller;
}

.wk_mp_design_inner .wk_ordertitle_label{
    width: 29%;
    font-weight: bold;
}

/*seller prfile page left css end*/

/*start modal box*/
.ask_que{cursor:pointer;}
#ask_data .errormail {
    bottom: 15px;
    display: none;
    left: 155px;
    position: absolute;
    color: #DF280A;
    font-weight: bold;
}
.wk_clear{clear: both;}

.wk_dash_chart{
    margin-top: 10px;
    border:1px solid #CCCCCC;
}

.modal-title {
margin: 0;
line-height: 1.42857143;
font-size: 18px;
font-family: inherit;
font-weight: 500;
display: inline-block;
}
#ask_data {    
    background-clip: padding-box;    
    background-color: #FFFFFF;    
    border: 1px solid rgba(0, 0, 0, 0.3);    
    border-radius: 6px 6px 6px 6px;    
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);    
    display: none;    
    left: 50%;    
    margin: -250px 0 0 -280px;    
    outline: medium none;    
    position: fixed;    
    top: 50%;    
    width: 530px;    
    z-index: 1050;
}
#ask_form { 
    display: inline-block;
    width: 100%;
}
#ask_form textarea { height: 75px;width: 315px; }
#ask_data .label {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 7px;
    padding-left: 20px;
    text-align: left;
    width: 135px;
    vertical-align: top;
}
.wk_modal_btn{
  cursor: pointer;
}
.wk_btn_primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.wk_btn_primary:hover,
.wk_btn_primary:focus,
.wk_btn_primary.focus,
.wk_btn_primary:active,
.wk_btn_primary.active,
.open > .dropdown-toggle.wk_btn_primary {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.wk_btn_primary:active,
.wk_btn_primary.active,
.open > .dropdown-toggle.wk_btn_primary {
  background-image: none;
}
.wk_btn_primary.disabled,
.wk_btn_primary[disabled],
fieldset[disabled] .wk_btn_primary,
.wk_btn_primary.disabled:hover,
.wk_btn_primary[disabled]:hover,
fieldset[disabled] .wk_btn_primary:hover,
.wk_btn_primary.disabled:focus,
.wk_btn_primary[disabled]:focus,
fieldset[disabled] .wk_btn_primary:focus,
.wk_btn_primary.disabled.focus,
.wk_btn_primary[disabled].focus,
fieldset[disabled] .wk_btn_primary.focus,
.wk_btn_primary.disabled:active,
.wk_btn_primary[disabled]:active,
fieldset[disabled] .wk_btn_primary:active,
.wk_btn_primary.disabled.active,
.wk_btn_primary[disabled].active,
fieldset[disabled] .wk_btn_primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.wk_btn_default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.wk_btn_default:hover,
.wk_btn_default:focus,
.wk_btn_default.focus,
.wk_btn_default:active,
.wk_btn_default.active,
.open > .dropdown-toggle.wk_btn_default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.wk_btn_default:active,
.wk_btn_default.active,
.open > .dropdown-toggle.wk_btn_default {
  background-image: none;
}
.wk_btn_default.disabled,
.wk_btn_default[disabled],
fieldset[disabled] .wk_btn_default,
.wk_btn_default.disabled:hover,
.wk_btn_default[disabled]:hover,
fieldset[disabled] .wk_btn_default:hover,
.wk_btn_default.disabled:focus,
.wk_btn_default[disabled]:focus,
fieldset[disabled] .wk_btn_default:focus,
.wk_btn_default.disabled.focus,
.wk_btn_default[disabled].focus,
fieldset[disabled] .wk_btn_default.focus,
.wk_btn_default.disabled:active,
.wk_btn_default[disabled]:active,
fieldset[disabled] .wk_btn_default:active,
.wk_btn_default.disabled.active,
.wk_btn_default[disabled].active,
fieldset[disabled] .wk_btn_default.active {
  background-color: #fff;
  border-color: #ccc;
}
.wk_btn_default .badge {
  color: #fff;
  background-color: #333;
}
.wk_btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
}
.form-control {
width: 315px;
padding: 6px 12px;
margin-bottom: 10px;
font-size: 14px;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.modal-body {
position: relative;
padding: 15px;
width: 94%;
}
.form-control:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.wk_btn_primary .badge {
  color: #428bca;
  background-color: #fff;
}
.modal_header { 
  border-bottom: 1px solid #EEEEEE;
  border-radius: 4px 4px 0 0;
  padding: 9px 15px;
  text-align: left;
}
.modal_header h3 { display: inline-block;font-size: 20px;opacity: 0.6; }
.wk_close {    
    color: #000000;    
    cursor: pointer;    
    float: right;    
    font-size: 20px;    
    font-weight: bold;    
    line-height: 20px;    
    opacity: 0.2;    
    text-shadow: 0 1px 0 #FFFFFF;
}
.wk_close:hover,
.wk_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal_footer:before, .modal_footer:after { content: "";display: table;line-height: 0; }
.modal_footer:before, .modal_footer:after { content: "";display: table;line-height: 0; }
.modal_footer {    
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.error_border { border-color: #FF0000 !important; }
.mail_procss { cursor: wait;opacity: 0.5; }
/*end*/

/*profile page right bar css start*/
.wk_feedback_details .mpfeedback{
    width:100%;
    border-right: 1px solid #ccc;
}
.mpfeedback .wk_span{
    width: 40%;
}
.mpfeedback span {
    float: left;
}
.mpfeedback .ratingslider-box {
    background: url("http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/rating-sprite.png") repeat-x scroll 0 103% transparent;
    float: left;
    margin-left: 3%;
    height: 20px;
    width: 70px;
}
.mpfeedback .ratingslider-box .rating {
    background: url("http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/rating-sprite.png") repeat-x scroll 0 4px transparent;
    height: 20px;
}
.mpfeedback .price{
    width:100%;
    display: inline-block;
}
.mpfeedback .value{
    width:100%;
    display: inline-block;
}
.mpfeedback .quality{
    width:100%;
    display: inline-block;
}
/*profile page right bar css end*/

/*Profile page content css start*/

.wk_social_icon{
    width: 44px;
    height: 44px;
}
.wk_social_icon_instagram{ background-position: 0px 0px; }
.wk_social_icon_pinterest{ background-position: -46px 0px; }
.wk_social_icon_fb{ background-position: -92px 0px; }
.wk_social_icon_tw{ background-position: -138px 0px; }
.wk_social_icon_gplus{ background-position: 0px -46px; }
.wk_social_icon_vimeo{ background-position: -46px -46px }
.wk_social_icon_utube{ background-position: -92px -46px; }
.wk_social_icon_moleskin{ background-position: -138px -46px; }
.wk_profile_pro_css {
    width: 32.33333%;
    margin-right: 1%;
    float: left;
    text-align: center;
}
.wk_profile_image_box{
    border: 1px solid #eee;
    padding: 5px;
}
/*Profile page content css end*/

/*feedback page css start*/
.wk_orderbox_content1{    
    display: inline-block;
    width: 98%;
    border-bottom: 1px solid #eee;
}
.wk_orderbox_content2{    
    display: inline-block;
    width: 98%;
}
.wk_first_order{
    margin-top: 15px;
}
.wk_orderbox{
    border: 1px solid #ccc;
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    border-radius: 3px;
}
.wk_orderbox_content1{    
    display: inline-block;
    width: 98%;
    border-bottom: 1px solid #ccc;
}
.wk_orderbox_content2{    
    display: inline-block;
    width: 98%;
}
.wk_orderbox_details{
    width: 78%;
    float: left;
}
.wk_orderbox_details a {
    color: #1e7ec8;
    text-decoration: none;
}
.wk_orderbox_total {
    width: 22%;
    float: left;
    text-align: right;
}
.wk_feedback_details{
float: left;
width: 26%;
padding-bottom: 5px;
}
.wk_feedback_desc{
float: left;
width: 71%;
padding:5px 0px 5px 15px
}
/*end*/

/*collection page content css start*/
.collection-banner > img {
   width: 100%;
}
/*end*/
@media only screen and (min-width: 0px) and (max-width: 640px) { 
    #ask_data{
        width: 350px!important;
        left: 75%!important;
    }
    #ask_data .label {
        width: 36%!important;
    }
}
/*New css start here*/
.wk_refundtotal_td1{
    width: 88%;
    padding: 5px!important;
}
.wk_refundtotal_td2{
    width: 10%;
    padding: 5px!important;
}
.wk_refundtotal_container th,.wk_refundtotal_container td{
    border: none!important;
}
.wk_mp_design input[type=email], 
.wk_mp_design input[type=search], 
.wk_mp_design input[type=number], 
.wk_mp_design input[type=password], 
.wk_mp_design input[type=tel], 
.wk_mp_design input[type=text]{
    width:99%!important;
}
.wk_mp_design .form-list .input-box{
    width:100%;
    overflow: auto;
}
.wk_mp_design .mceLayout{
    width:100%!important;
}
.marketplace-marketplaceaccount-printorder{
    background: none!important;
}
.wk_mp_error_msg{
    color:#ff0000;
    font-weight:600
}
.questimg{
    padding: 0 10px;
    cursor: pointer;
}
.views{ background-color: #7F7F7F;
    border: 1px solid;
    color: #FFFFFF;
    display: none;
    margin-left: 32.7%;   
    position: absolute;
    width: 29%;
    border-left-color: #BCE8F1;
    border-width: 10px;
    overflow: hidden;
}
#wk_mp_print_order{
    text-align: left!important;
    border:1px solid #CCCCCC;
}
.wk_profile_alert{
    padding: 10px;
    border: 1px solid #faebcc;
    margin-bottom: 20px;
    border-radius: 4px;
    vertical-align: bottom;
    color: #8a6d3b;
    background: #fcf8e3;
    line-height: 1.42857143;
}
.wk_close:hover,
.wk_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
.wk_profile_alert strong {
font-weight: 700;
}
.wk_txt_trans{
    text-transform: uppercase;
}
.wk_mp_body input[type=checkbox]{    margin-right: 5px;}
.wk_mp_body td{    
    text-align: center;    
    padding:5px 7px;    
    border-color: #FFFFFF;    
    border-style: solid;    
    border-width: 0 1px 1px 0;    
    background: url("http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/filter_row_bg.gif") repeat-x #e3eff1;
    border-bottom: none;
}
.page-title {
width: 100%;
display: inline-block;
}
#wk_mp_tr_heading{    
    background: url("http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/sort_row_bg.gif") repeat-x scroll 0 50% rgba(0, 0, 0, 0);
}
#wk_mp_tr_heading th {    
    border-color: #F9F9F9 #D1CFCF #F9F9F9 #F9F9F9;    
    border-style: solid;    
    border-width: 1px;    
    font-size: 0.9em;    
    font-weight: bold;    
    /*padding-bottom: 0;    
    padding-top: 1px;*/
    padding: 3px 9px;    
}
.wk_mp_list_table {
    width: 100%;
    border: 1px solid #CCCCCC;
}
.wk_mp_list_table thead span{
    font-weight: bold;
}
.wk_mp_list_container_table{
    margin-top:15px;
    margin-bottom: 2px;
    border-bottom: none;
    clear: both;
}
.wk_mp_td_span{
    width: 50%;
    float: left;
}
.wk_mp_td_span input{
    width: 60%!important;
}
.wk_mp_label{
    background: none repeat scroll 0 0 #F18200;
    border: 1px solid #DE5400;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    margin: 2px 15px;
    padding: 1px 5px;
}
.wk_content th {
    border-left: 1px solid #ccc;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.wk_row_view td {
    border-left: 1px solid #ccc;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.wk_check_first_td{
    border-left: none!important;
    border-right: 1px solid #ccc;
}
.wk_first_td{
    width: 26%;
    border-left: none!important; 
}
.wk_last_tr{
   border-bottom: none!important; 
}
.wk_pro_divide1 {
width: 40%;
float: left;
overflow: hidden;
}
.wk_pro_divide2 {
width: 60%;
float: left;
overflow: hidden;
}
.wk_pro_divide2 a{
    text-decoration: none;
}
a:hover{
    color: #ea7900;
}
.wk_emptymsg{
    color: #DF2111;
    font-weight: 
    bold;font-size: 14px;
    text-transform: uppercase;
}
.wk_row_view .label .image { height: 55px; margin: 2px; width: 55px; border: 1px solid #ccc;}
.wk_row_view .label img { cursor: pointer; }

.wk_title_label{
    color: #6B6B63;
    font-size: 14px;
}
.wk_label{
    font-size: 14px;
}
.wk_ordertitle_label{
    color: #6B6B63;
}
.wk_orderbox_details .color{
    font-size:16px;
}
.wk_dash_orderstatus { 
    padding: 4px;
    padding-right: 0;
    float: left;
    width: 21%; 
}

.wk_dash_label { display: block; font-weight: bold; margin-top: 5px; }
.wk_dash_label .status {    
    color: #FFFFFF;
    text-align: center;
    /*width: 125px;*/
    padding: 6px 3px;
    border-radius: 3px;
    /*font-size: 15px;*/
}
.wk_dash_label .status.complete{
    background-color: rgb(90, 202, 90);
}
.wk_dash_label .status.processing{
    background-color: rgb(79, 158, 231);
}
.wk_dash_label .status.pending,.wk_dash_label .status.new,.wk_dash_label .status.pending_payment,.wk_dash_label .status.holded,.wk_dash_label .status.payment_review{
    background-color: #F8AF2E;
}
.wk_dash_label .status.canceled{
    background-color: rgb(221, 76, 76);
}
.wk_dash_label .status.closed{
    background-color: rgb(221, 76, 76);
}
.wk_dash_label .status.fraud{
    background-color: rgb(221, 76, 76);
}
.wk_dash_label .status.paypal_canceled_reversal{
    background-color: #F8AF2E;
}
.wk_dash_label .status.paypal_reversed{
    background-color: #F8AF2E;
}
.wk_dash_label .status.pending_paypal{
    background-color: #F8AF2E;
}
.askque{ 
    float: right;position: relative;
}
.wk_sales { 
    width: 100%;
    display: inline-block;
}
.wk_sale_css{
    background: rgb(79, 158, 231);
    float: left;
    font-size: 20px;
    text-align: center;
    width: 32.5%;
    color: #fff;
    padding: 1%;
    border-radius:3px;
    line-height: 20px;
    text-transform: uppercase;
}
.wk_todaysale {
    margin-right: 1%;
}
.wk_sale_color {
    display: inline-block;
    text-align: left;
}
.wk_sale_label{
    font-size: 15px;    
}
.wk_weeksale {
    margin-right: 1%;
}
.wk_monthsale {
}
.wk_total_sale_css{
    float: left;
    font-size: 20px;
    text-align: center;
    width: 49.3%;
    color: #fff;
    padding: 1%;
    border-radius:3px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.wk_totalsale{
    margin-right: 1%;
    background: rgb(221, 76, 76);
}
.wk_todaysale_bg{
    background: url('http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/Sprite-Seller-Front-Panel.png') 0 -20px;
    height: 42px;
    width: 33px;
    display: inline-block;
}
.wk_weeksale_bg{
    background: url('http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/Sprite-Seller-Front-Panel.png') 0 -20px;
    height: 42px;
    width: 33px;
    display: inline-block;
}
.wk_monthsale_bg{
    background: url('http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/Sprite-Seller-Front-Panel.png') 0 -20px;
    height: 42px;
    width: 33px;
    display: inline-block;
}
.wk_remainsale{
    background: rgb(90, 202, 90);
}

.wk_mp_btn{
    float: right;
    margin-left: 5px!important;
}

/*#skuavail img, #skunotavail img {
    margin-right: 5px; 
    vertical-align: middle; 
    width: 12px; 
}
#skunotavail img { 
    float: left; height: 20px; 
}*/
.wk_category{
    max-height: 200px;
    overflow: auto;
    clear: both;
    display: block;
}
#wk_category_label{
    background: #B8E8B7;
    border: 1px solid #008000;
    border-radius: 7px;
    padding: 0 4px;
    display: inline-block;
}
.wk_cat_container{
    position: relative;
}
.wk_plus{
    background: url("http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/elbow-plus.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 18px;
    width: 15px;
    float:left;
    cursor:pointer;
}
.wk_plusend{    background: url("http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/elbow-end-plus.gif") no-repeat scroll 0 0 transparent;    display: block;    height: 18px;    width: 15px;    float:left;    cursor:pointer;}
.wk_minus,
.wk_minusend{
    background: url("http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/elbow-end-minus.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 18px;
    width: 15px;
    float:left;
    cursor:pointer;
}
.wk_no{
    background: url("http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/elbow-end.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 18px;
    width: 15px;
    float:left;
}
.wk_foldersign{
    background: url("http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/leaf.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 3px;
    width: 16px;
}
.wk_node_loader{
    background: url("http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/loading.gif") no-repeat scroll 0 0 #FFFFFF;
    display: block;
    height: 17px;
    left: 15px;
    position: absolute;
    width: 17px;
}
.nicEdit-wk_nice_textarea{
    box-shadow: 0 0 1px 1px #CCCCCC inset;
}
.wk_elements{
    margin-left:5px;
}
.wk_cat_name{
    float:left;
}
.image_set .setimage{
    padding:5px;
    float:left;
    position: relative;
}
.wk_imagedelete {
    font-weight: 900;
    left: 46px;
    position: absolute;
    top: 0;
    display: inline-block;
    cursor: pointer;
}
.wk_imagedelete img{
width: 20px;
}
.wk_imagedeleteload {
    font-weight: 900;
    left: 24px;
    position: absolute;
    top: 22px;
    cursor: pointer;
}
.wk_link_title {
    float: left;
}
/*downloadable start*/
.radio.wk_sample_type {
    float: left;
}
.wk_download_url{
    width: 70%!important;
    display: inline-block;
}
.wk_link_url_block label{
    float: left;
}
.wk_link_url_block .row{
margin-bottom: 5px;
}
.wk_link_url_block input[type="radio"]{
vertical-align: middle;
line-height: normal;
top:2px;
}
.wk_link_url_block input[type="url"]{
margin-top: -4px;
}
.wk_mp_link_delete{    
    background: url("http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/icon-trash.png") repeat scroll center center rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 14px;
}
.wk_mp_link_body input[type=checkbox]{
    margin-right: 5px;
}
.wk_mp_link_title{
    width: 95%;
}
.wk_mp_link_price{
    width: 45px;
}
.wk_mp_link_download{
    width: 70px;
}
.wk_mp_link_body td{
    text-align: left;
    vertical-align: top;
    padding: 2px 4px;
    border-color: #DADFE0;
    border-style: solid;
    border-width: 0 1px 1px 0;
    background: none repeat scroll 0 0 #FFFFFF !important;
    word-break: break-all;
}
.wk_mp_sample_body input[type=checkbox]{
    margin-right: 5px;
}
.wk_mp_sample_body td{
    text-align: center;
    padding: 2px 4px;
    border-color: #DADFE0;
    border-style: solid;
    border-width: 0 1px 1px 0;
    background: none repeat scroll 0 0 #FFFFFF !important;
    word-break: break-all;
}
#wk_mp_links{
    background: #6F8992;
    line-height: 21px;
    padding-left: 10px;
}
#wk_mp_links span{
    color: #FFFFFF;
    font-weight: bold;
}
#wk_mp_links_container{
    border: 1px solid #D6D6D6;
    min-height: 100px;
}
.wk_mp_link_label {
    width: 50%;
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
}
.wk_mp_link_value {
    padding: 5px;
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
}
.wk_mp_links_topbody{
    clear: both;
}
.wk_mp_design .validation-advice{
    text-align: left;
}
.wk_mp_link_titleblock{
    width: 75%;
}
/*downloadable end*/
/*configurable start*/
.wk_mp_headcus{
    clear: both;
    display: inline-block;
    width: 100%;
    background: none repeat scroll 0 0 #E7EFEF;    
}
.wk_mp_headcus input{
    width: 98%;
}
.wk_mp_headcus > li {
    float: left;
    text-align: center;
    padding: 5px 3px;
    margin: 0;
    width: 19%;
}
.wk_mp_option-box {
    border: 1px solid #CDDDDD;
}
.wk_mp_headcus.ul_first {
    background: none repeat scroll 0 0 #CFDDDC;
    font-weight: bold;
}
.mp_edit_associate_ul{
    border: 1px solid #ccc;
    margin-top: 15px;
    background-color: #ededed;
}
.mp_edit_associate_div1{
    padding: 5px;
}
.mp_edit_associate_div2{
    width: 20%;float: left;
}
/*view order page*/
.wk_mp_order-info-box{
    background: #fff;
    border: 1px solid #d0cbc1;
    padding: 12px 15px;
    margin: 0 0 15px;
}
.wk_mp_order-info-box h2 {
font-weight: bold;
font-size: 13px;
}

.wk_mp_fieldset .button{
    margin: 5px 0;
}
.wk_orderbox_details .name{
    width: 100%;
    display: inline-block;
}
.wk_orderbox_details .name p{
    margin-bottom: 0!important;
}
.wk_mp_btn {
margin: 2px;
}

.wk_mp_design table th{
    /*padding: 1%!important;*/
}

/*seller profile page start*/
.profileimage_set .setimage{
    padding:5px;
    float:left;
    position: relative;
    width: 97%;
}
.profileimage_set .wk_profileimagedelete {
    font-weight: 900;
    right: -3px;
    position: absolute;
    top: 5px;
    display: inline-block;
    cursor: pointer;
}
.logoimage_set .setimage{
    padding:5px;
    float:left;
    position: relative;
    width: 97%;
}
.logoimage_set .wk_logoimagedelete {
    font-weight: 900;
    left: 89px;
    position: absolute;
    top: 0;
    display: inline-block;
    cursor: pointer;
}
.input-box .prev_img {position: relative;width: 15%;}
.input-box .wk_banner {position: relative;width: 100%;padding: 5px 0;}

.profile .input-box-notification {font-size: 12px;font-weight: 400;color:red;}
.country_img_prev {vertical-align: middle;width: 5%;}
#countrypic{width: 94.5%!important;}
.color_pick {    
    border: 3px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    width: 30px;
    margin-top: 5px;
}

/*end*/
@media only screen and (max-width: 599px){
    .wk_mp_design .order-details thead th:nth-child(1n+2) {
    display: none;
    }
    .wk_mp_design .order-details tbody td:first-child h3 {
    font-weight: bold;
    }
    .wk_mp_design .order-details thead th {
    border-right: 0;
    border-left: 0;
    }
    .wk_mp_design .order-details tbody tr {
    position: relative;
    border-bottom: 1px solid #cccccc;
    }
    .wk_mp_design .order-details tr, .wk_mp_design .order-details th, .wk_mp_design .order-details td {
    display: block;
    }
    .wk_mp_design .order-details tbody td {
    padding: 0 10px 4px;
    border-right: 0;
    border-bottom: 0!important;
    text-align: left;
    }

    .wk_mp_design .order-details tbody td[data-rwd-label]:before {
    content: attr(data-rwd-label) ":";
    font-size: 12px;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    padding-right: 5px;
    text-transform: uppercase;
    }
    .wk_mp_design .order-details tfoot tr {
    display: inline-block;
    text-align: right;
    width: 100%;
    }
    .wk_mp_design .order-details tfoot td:nth-child(odd) {
    clear: left;
    width: 60%;
    }
    .wk_mp_design .order-details tfoot td:nth-child(even) {
    text-align: left;
    width: 40%;
    }
    .wk_mp_design .order-details tfoot td {
    display: block;
    float: left;
    }
    .mpfeedback .wk_span {
    width: 40%!important;
    }    
    .wk_mp_design .order-details tbody td.lin-hide {
        display: none;
    }
    .wk_mp_design .order-details tbody td:first-child, .wk_mp_design .order-details tbody td:first-child h3 {
    font-weight: bold;
    }
}
@media only screen and (min-width: 0px) and (max-width: 479px) { 
    .wk_list_th_display1{
        display: none;
    }    
    .wk_mp_fieldset .button{
        width: 100%!important;
        margin: 5px 0;
    }
    .wk_mp_fieldset .button span{
        width: 100%!important;        
    }
    .wk_dash_label .status{
        width: 100%!important;
    }  
    .example-plot{
        width:277px!important;
        height:150px!important;
    }   
    button.askque.button {
    width: 100%;
    }
    .wk_feedback_details .mpfeedback {
    width: 100%!important;
    }
}
@media only screen and (min-width: 0px) and (max-width: 640px) { 
    .wk_list_th_display{
        display: none;
    }
    .page-title h1{
    text-align: center;
    float: none!important;
    border-bottom: none!important;
    }
    .modal_header h4 {
        font-size: 14px!important;
    }
}
@media only screen and (min-width: 959px) and (max-width: 1230px) { 
   .wk_mp_list_table input[type="text"],.wk_mp_list_table input[type="file"],.wk_mp_list_table textarea,.wk_mp_list_table select{
        width: 100%!important;
    }
}
@media only screen and (min-width: 479px) and (max-width: 696px) {
    .example-plot{
        width:400px!important;
        height:220px!important;
    } 
}
@media only screen and (min-width: 641px) and (max-width: 696px) {
    .example-plot{
        width:500px!important;
        height:300px!important;
    } 
}
@media only screen and (min-width: 771px) and (max-width: 905px) {
    .example-plot{
        width:450px!important;
        height:250px!important;
    } 
}
@media only screen and (min-width: 0px) and (max-width: 959px) { 
    .wk_mp_design table{
        font-size: 12px!important;
    }
    .wk_feedback_details{
        width:100%;
        float: none;        
        border-bottom: 1px solid #ccc;
    }
    .wk_feedback_details .mpfeedback {
    width: 40%;
    border-right: none;
    }
    .wk_feedback_desc {
    float: none;
    width: 100%;
    padding: 5px 0px;
    }
    .wk_dash_orderstatus{
       width: 100%!important;
       padding-left: 0; 
    }
    .wk_orderbox_details {
    width: 100%!important;
    padding-left: 0; 
    }    
    .wk_orderbox_total{
        width: 100%!important;
        text-align: left!important;
    }
    .page-title h1{
    border-bottom: none!important;
    }
    #wk_load_conf {
        left: 25%!important;
        top: 514px!important;
    }  
    #wk_mp_tr_heading th{
        padding: 0!important;
    }
    .wk_mp_label{
        padding: 0!important;
        margin: 0!important;
    }
    .wk_first_td {
    width: 14%!important;
    }
    .wk_row_view .label .image {
    height: auto!important;
    width: 95%!important;
    }
    .wk_pro_divide1{
        width: 100%!important;
    }    
    .wk_mp_links_topbody input,.wk_mp_links_topbody textarea,.wk_mp_links_topbody select{width: 100%!important;}
    .wk_mp_list_table input[type="text"],.wk_mp_list_table input[type="file"],.wk_mp_list_table textarea,.wk_mp_list_table select{width: 100%!important;}
    .wk_mp_list_table input[type="checkbox"], input[type="radio"]{width: 10px!important;}
}

/*for shipping manager*/

.wk_ship_fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
.wk_ship_light{
    display: none;
    position: fixed;
    top: 25%;
    left: 15%;
    right: 15%;
    padding: 10px;
    border: 2px solid #FFF;
    background: #CCC;
    z-index: 1002;
    overflow: visible;
    width: 70%;
}
label.wk_ship_post-meta span.wk_ship_delete {
    background: url("http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../img/sprite.png") no-repeat scroll -307px 4px transparent;
    cursor: pointer;
    float: right;
    height: 19px;
    opacity: 0.69;
}
.prdouctbackground h4{
    display: inline-block;
    width: 80%;
}
.prdouctbackground .wk_ship_post-meta{
    display: inline-block;
    width: 10%;
    float: right;
}
.wk_ship_row{
    display: inline-block;
    width: 100%;
}

.wk_ship_row input{
    display: inline-block;
    width: 80%!important;
}
label.wk_ship_post-meta span {
    padding: 3px 0 3px 25px;
}

.wk_ship_rowlabel {
    float: left;
    width: 117px;
}
.wk_ship_Label {
    font-weight: bold;
}
.wk_ship_field:before {
    content: ":";
    float: right;
    font-weight: 600;
    letter-spacing: 20px;
}
.wk_ship_rowinput {
    clear: both;
    height: 24px;
    line-height: 24px;
    margin: 0.4em 0 !important;
    width: 420px;
}

.wk_ship_row .wk_ship_label,.wk_ship_row .wk_field {display: inline-block;width: 150px;}
.wk_ship_row .wk_ship_field {width: auto;}
.wk_ship_row .wk_ship_field input{width:200px;}
.wk_ship_field:before {content: ":";float:right;font-weight: 600;letter-spacing: 20px;}
.wk_ship_field .validation-advice{display:inline-block; background: url("http://emorybuyandsell.azurewebsites.net/skin/frontend/base/default/marketplace/css/../images/arrow.gif") no-repeat scroll 2px center transparent;}
.wk_ship_row  .wk_ship_field  > #image{width:235px!important;}

